<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Vendify</title>
</head>

<body>
    <div class="header">
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>

            <ul class="menu__box">

                <li><a class="menu__item" href="{{ url_for('menu') }}">Menu</a></li>
                <li><a class="menu__item" href="{{ url_for('serial_management') }}">Serial Management</a></li>
                <li><a class="menu__item" href="{{ url_for('item_management') }}">Item Management</a></li>
                <li><a class="menu__item" href="{{ url_for('user_management') }}">User Management</a></li>
            </ul>

        </div>
        <h1>User Management</h1>
        <input type="text" placeholder="Machine Key">

        <form class="form">
            <button onclick="generateNewUser()">Generate User</button>
            <p id="getItems"></p>
            <button onclick="removeValidUser()">Remove User</button>
            <p id="incrementStock"></p>
            <button onclick="decrementStock()">Set Personal Key</button>
            <p id="decrementStock"></p>
        </form>
        <script type="text/javascript" src="static/js/script.js"></script>
    </div>
</body>

</html>